*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    cursor: crosshair;
    font-style: Questrian 3 Sans Serif;
    
}
html,body{
    width:100%;
    height:100%;
    
}
#main{
    width:100%;
    height:100%;
    background-color: rgb(255, 255, 255);
    border-top: 15px solid #383838;
    
    
}
#navbar{
    width:100%;
    height:13%;
    background-color: black(14,14,55);
    display:flex;
    align-items:center;
    padding-left:100px;
    justify-content: space-between;
    border-bottom: 15px solid #383838;
   
}
#navlem1 h2{
    font-weight:600;
    padding-right:50px;
}
#navlem2 h1{
    font-display: flex;
    font-weight:500;
    padding-left:100px;
    align-items: center;
    justify-content: center;

}
#navlem3 h1{
    padding: left 20px;
}

.space{
    padding-right:30px ;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#content{
    width:100%;
    height: 90%;
    background-image: url(software.jpg);
    background-size: cover;
    background-position:center;
    color:aquamarine(14,14,55);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    border-bottom: 15px solid #000000;
    border-left: 15px solid #000000;
    border-right: 15px solid #000000;
}
#cont1 {
    font-size: 80px;
    font-weight: 500;
    

}
#cont2 {
    font-size: 50px;
    font-weight: 600;
}
.text{
    font-size: 38px;
    font-weight: 600;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top: 500;
    padding-bottom: 20px;
    padding-Top: 20px;
    border-bottom: 3px solid #000000;
}
#edu{
    width: 100%;
    height: 110%;
   display: flex;
    padding-Top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
#edu1{
   width: 55%;
   height: 100%;
  background-color: white;
 display: flex;
 flex-direction: column;
  
}
#part1 h2{
    font-size: 30px;
    font-weight: 600;
}
#part1 p{
    font-size: 25px;
    font-weight: 500;
}
#part2 {
    display: flex;
    justify-content:space-between;
    padding-bottom: 50px;
}
#edu2{
    width: 55%;
    height: 100%;
   background-color: white;
   background-position: bottom;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-bottom: 50px;
}
   
#image img{
    width: 100%;
    height:60%;
    object-fit: cover;
   
}
#image:hover{
    transform: scale(1.01);
}
#banner{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 800;
   
}
#banner i{
    margin-left: 30px;
    margin-top: 30px;
    padding-bottom: 50px;
}
#Education{
    width: 100%;
    height: 50%;
    border-bottom: 2px solid #000000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.edu{
    padding:20px 80px;
    border-right: 1px solid black;
}
.edu:last-child{
    border-right: none;
}
.year{
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}
.year h3{
    padding-bottom: 5px;
    font-weight: 500;
}
.institution{
    padding-top: 18px;
}
.institution h3{
    letter-spacing: -1px;
    word-spacing: 5px;
    padding-bottom: 5px;
    font-weight: 600;
}
.institution h4{
    padding-bottom: 5px;
    font-weight: 700;
}
#profiles{
    width: 100%;
    height: 60%;
    padding-bottom: 60px;
    border-bottom: 2px solid #000000;

    
}
.parts{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
    overflow: hidden;
}
.elems{
    width: 300px;
    height: 240px;
    padding: 100px 0px;
    text-align: center;


}
.elems a {
    text-decoration: none;
    color: inherit;
}

.elems:hover {
    transform: scale(2.2);
}

.elems:nth-child(1):hover {
    color: #000000;
}

.elems:nth-child(2):hover {
    color: #0f1ab3;
}

.elems:nth-child(3):hover {
    color: #000000;
}

.parts:nth-child(2) .elems:nth-child(1):hover {
    color: #000000;
}

.parts:nth-child(2) .elems:nth-child(2):hover {
    color: orange;
}

.parts:nth-child(2) .elems:nth-child(3):hover {
    color: red;
}
#contact{
    width: 100%;
    height: 50%;
    background-color: rgb(255, 30, 0);
}
#details1 {
    width: 50%;
    height: 100;
    border-right: 1PX solid black;
}

/* Contacts CSS */
.contact {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    font-family: sans-serif;
    margin-bottom: 30px;
  }
  
  .portion3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portion1,
  .portion2,
  .portion3 {
    border-right: 1px solid black;
  }
  
  .portion {
    padding: 0 70px;
  }
  .portion3 i {
    padding-top: 20px;
    font-size: 1.2rem;
  }
  
  .portion2 .box2 {
    padding-top: 40px;
  }
  
  .portion1,
  .portion4 {
    display: flex;
    align-items: center;
  }
  
  .portion1 {
    flex-direction: column;
    justify-content: center;
  }
  .portion1 input {
    border-bottom: 2px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    padding: 5px;
    text-align: center;
  }
  .portion1 input:nth-child(1) {
    margin-top: 30px;
  }
  
  .portion1 input:nth-child(3) {
    margin-top: 30px;
  }
  
  .portion1 h3 {
    font-size: 1rem;
  }
  .portion2 {
    line-height: 25px;
  }
  .portion1 button {
    margin-top: 50px;
    padding: 8px;
    width: 120px;
    border: none;
    background-color: rgb(178, 173, 173);
  }
  .portion2,
  .portion3,
  .portion4 {
    margin-top: 20px;
  }
  
  .portion4 {
    text-align: center;
  }